apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "bdl-presto.worker.fullname" . }}
  labels:
{{- if .Values.Labels }}
{{ toYaml .Values.Labels | indent 4 }}
{{- else }}
    release: {{ .Release.Name | quote }}
    chart: {{ template "bdl-presto.chart" . }}
    component: "{{ .Release.Name }}-{{ .Values.Worker.Component }}"
{{- end }}
  heritage: {{ .Release.Service | quote }}
spec:
  replicas: {{ .Values.Worker.Replicas }}
  selector:
    matchLabels:
{{- if .Values.Labels }}
{{ toYaml .Values.Labels | indent 6 }}
{{- else }}
      release: {{ .Release.Name | quote }}
      component: "{{ .Release.Name }}-{{ .Values.Worker.Component }}"
{{- end }}
  template:
    metadata:
      annotations:
        checksum/presto-catalog-secret: {{ include (print $.Template.BasePath "/presto-catalog-secret.yaml") . | sha256sum }}
      labels:
{{- if .Values.Labels }}
{{ toYaml .Values.Labels | indent 8 }}
{{- else }}
        release: {{ .Release.Name | quote }}
        component: "{{ .Release.Name }}-{{ .Values.Worker.Component }}"
{{- end }}
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "bdl-presto.worker.fullname" . }}
        - name: catalog-volume
          secret:
            secretName: {{ template "bdl-presto.catalog.fullname" . }}
        - name: hive-volume
          secret:
            secretName: {{ template "bdl-presto.catalog.fullname" .}}-hive
      containers:
      - name: {{ .Chart.Name }}-worker
        image: "{{ .Values.Worker.Image }}:{{ .Values.Worker.ImageTag }}"
        imagePullPolicy: {{ .Values.Worker.ImagePullPolicy }}
        # command: ["/bin/bash"]
        # args:
        #   - {{ .Values.server.config.path }}/docker-presto.sh
        volumeMounts:
          - mountPath: {{ .Values.server.config.path }}
            name: config-volume
          - mountPath: {{ .Values.server.config.path }}/catalog
            name: catalog-volume
          - mountPath: {{ .Values.server.config.path}}/hive
            name: hive-volume
        livenessProbe:
          exec:
            command:
              - /bin/bash
              - {{ .Values.server.config.path }}/health_check.sh
          initialDelaySeconds: 10
          periodSeconds: 25
        readinessProbe:
          exec:
            command:
              - /bin/bash
              - {{ .Values.server.config.path }}/health_check.sh
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
{{ toYaml .Values.Worker.Resources | indent 10 }}