# Default values for bdl-sftp-proxy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

Component: "sftp-proxy"
Replicas: 1
Image: "bigstepinc/sftp-proxy"
ImageTag: "0.1.4"
ImagePullPolicy: "IfNotPresent"
Resources: {}
DataDir: "/etc/sftp-proxy"

ConfigMap:
  apiEndpoint: ""
  bucket: ""

Ports:
  sshserver: 22

Service:
  Enabled: true
  Type: "LoadBalancer"

Tests:
  Labels: