# Default values for bdl-jupyter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

BDL:
  ApiEndpoint: ""
  DatalakeId: ""
  DatapoolName: ""
  StarterDatapool: false
  ProjectName: ""


ObjStorage:
  Auth:
    Method: "apikey"
    ApiKey: ""
  WarehouseDir: ""
  BdlDefaultPath: ""

Component: "jupyter"
Replicas: 1
Image: "bigstepinc/jupyter_bdl"
ImageTag: "2.4.1-1"
ImagePullPolicy: "IfNotPresent"
Resources: {}
DataDir: "/bigstep"

Service:
  Enabled: true
  Type: "LoadBalancer"

Ports:
  notebook: 8888


Storage: "15Gi"
StorageClassUseDefault: true
StorageClass: "-"

Notebook:
  Secret:
    Create: true
    # ExternalName: ""
  Password: "notebook"

DataBase:
  Enabled: false
  Type: ""
  Hostname: ""
  Port: ""
  CredentialsSecret: ""
