# Default values for bdl-jupyter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

Component: "jupyter"
Image: "bigstepinc/jupyter_bdl"
ImageTag: "2.3.0-2"
ImagePullPolicy: "IfNotPresent"
Resources: {}
DataDir: "/notebooks"

Storage: "1Gi"
StorageClassUseDefault: true
StorageClass: "-"

Password: ""