# Default values for bdl-jupyter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

Component: "jupyter"
Image: "bigstepinc/jupyter_bdl"
ImageTag: "2.4.0-1"
ImagePullPolicy: "IfNotPresent"
Resources: {}
DataDir: "/bigstep"

Service:
  Enabled: true
  Type: "LoadBalancer"

Ports:
  notebook: 8888


Storage: "1Gi"
StorageClassUseDefault: true
StorageClass: "-"

Notebook:
  Secret:
    Create: true
    # ExternalName: ""
  Password: "notebook"