# Default values for bdl-presto.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

Component: "presto"
Image: "bigstepinc/presto_bdl"
ImageTag: "3.1.6"
ImagePullPolicy: IfNotPresent
Resources: {}

Worker:
  Component: "presto-worker"
  Replicas: 2
  Image: "bigstepinc/presto_bdl"
  ImageTag: "3.1.6"
  ImagePullPolicy: "IfNotPresent"
  Resources: {}

Coordinator:
  Component: "presto-coordinator"
  Replicas: 1
  Image: "bigstepinc/presto_bdl"
  ImageTag: "3.1.6"
  ImagePullPolicy: "IfNotPresent"
  Resources: {}
  Ports:
    HttpCoord: 8080
  Service:
    Enabled: true
    Type: "LoadBalancer"


Catalog:
  Component: "presto-catalog"

server:
  node:
    environment: production
    dataDir: /presto/etc/data
  log:
    presto:
      level: INFO
  config:
    path: /etc/presto
    query:
      maxMemory: "4GB"
      maxMemoryPerNode: "1GB"
      maxLength: "10000000"
  jvm:
    maxHeapSize: "8G"
    gcMethod:
      type: "UseG1GC"
      g1:
        heapRegionSize: "32M"
  catalog:
    log.properties: |
      connector.name=localfile
      presto-logs.http-request-log.location=/presto/etc/data/var/log
      presto-logs.http-request-log.pattern=*.log
  hdfs:
    config: ""
