apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "bdl-sftp-proxy.fullname" . }}
  labels:
{{- if .Values.Labels }}
{{ toYaml .Values.Labels | indent 4 }}
{{- else }}
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
    chart: {{ template "bdl-sftp-proxy.chart" .}}
    component: "{{ .Release.Name }}-{{ .Values.Component }}"
{{- end }}
spec:
  serviceName: "{{ template "bdl-sftp-proxy.fullname" . }}"
  replicas: {{ .Values.Replicas }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
{{- if .Values.Labels }}
{{ toYaml .Values.Labels | indent 6 }}
{{- else }}
      heritage: {{ .Release.Service | quote }}
      release: {{ .Release.Name | quote }}
      chart: {{ template "bdl-sftp-proxy.chart" .}}
      component: "{{ .Release.Name }}-{{ .Values.Component }}"
{{- end }}
  template:
    metadata:
      labels:
{{- if .Values.Labels }}
{{ toYaml .Values.Labels | indent 8 }}
{{- else }}
        heritage: {{ .Release.Service | quote }}
        release: {{ .Release.Name | quote }}
        chart: {{ template "bdl-sftp-proxy.chart" .}}
        component: "{{ .Release.Name }}-{{ .Values.Component }}"
{{- end }}
    spec:
      containers:
      - name: "{{ template "bdl-sftp-proxy.fullname" . }}"
        image: "{{ .Values.Image }}:{{ .Values.ImageTag }}"
        imagePullPolicy: "{{ .Values.ImagePullPolicy }}"
        terminationMessagePolicy: "File"
        terminationMessagePath: "/dev/termination-log"
        ports: 
        - name: ssh-server
          containerPort: 22
          protocol: TCP
        resources:
{{ toYaml .Values.Resources | indent 10 }}
        env:
        - name: CONFIG_FILE_PATH
          value: "{{ .Values.DataDir }}/config.yaml"
        volumeMounts:
        - name: config
          mountPath: {{ .Values.DataDir }}
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: sftp-proxy
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedularName: default-scheduler
    revisionHistoryLimit: 10