# Default values for bdl-kaniko.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

Component: "kaniko"

kaniko:
  Image: "gcr.io/kaniko-project/executor"
  ImageTag: "latest"
  ImagePullPolicy: "IfNotPresent"
  Destination: ""
  Tag: "v1"

ImageCredentials:
  registry: ""
  username: ""
  password: ""

PipPackages: "seaborn"
OsPackages: "vim"
  
sync:
  Image: "bigstepinc/sync"
  ImageTag: "latest"
  ImagePullPolicy: "Always"
  Repository: ""

Notebook:
  DatalakeId: ""
  NotebookName: ""
  NotebookVersion: ""

BDL:
  ApiEndpoint: ""

ObjStorage:
  Auth:
    Method: "apikey"
    ApiKey: ""

Resources: {}